In [1]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('pandas-practice-assignment')
jovian.set_colab_id('1EMzM1GAuekn6b3mjbgjC83UH-2XgQHAe')

# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [2]:
import jovian

In [3]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

In [4]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already up-to-date: pandas in /usr/local/lib/python3.7/dist-packages (1.2.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [6]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7fc264b60850>)

Let's load the data from the CSV file into a Pandas data frame.

In [7]:
countries_df = pd.read_csv('countries.csv')

In [8]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [12]:
num_countries = countries_df.shape[0]

In [13]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [14]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [15]:
continents = countries_df["continent"].unique()

In [16]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [17]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: What is the total population of all the countries listed in this dataset?**

In [18]:
total_population = countries_df["population"].sum()

In [19]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [20]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [21]:
most_populous_df = countries_df.sort_values("population", ascending=False)

In [22]:
most_populous_df

                            location  ... gdp_per_capita
41                             China  ...      15308.712
90                             India  ...       6426.674
199                    United States  ...      54225.446
91                         Indonesia  ...      11188.744
145                         Pakistan  ...       5034.708
..                               ...  ...            ...
24   Bonaire Sint Eustatius and Saba  ...            NaN
5                           Anguilla  ...            NaN
130                       Montserrat  ...            NaN
65                  Falkland Islands  ...            NaN
203                          Vatican  ...            NaN

[210 rows x 6 columns]

In [23]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [24]:
countries_df['gdp'] = countries_df["population"]*countries_df["gdp_per_capita"]

In [25]:
countries_df

           location continent  ...  gdp_per_capita           gdp
0       Afghanistan      Asia  ...        1803.987  7.022622e+10
1           Albania    Europe  ...       11803.431  3.396791e+10
2           Algeria    Africa  ...       13913.839  6.101364e+11
3           Andorra    Europe  ...             NaN           NaN
4            Angola    Africa  ...        5819.495  1.912651e+11
..              ...       ...  ...             ...           ...
205         Vietnam      Asia  ...        6171.884  6.007624e+11
206  Western Sahara    Africa  ...             NaN           NaN
207           Yemen      Asia  ...        1479.147  4.411699e+10
208          Zambia    Africa  ...        3689.251  6.782303e+10
209        Zimbabwe    Africa  ...        1899.775  2.823622e+10

[210 rows x 7 columns]

In [26]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [30]:
lowest_gdp_df = countries_df[countries_df["population"] > 100000000].sort_values("gdp_per_capita").head(10).reset_index()

In [31]:
lowest_gdp_df

   index     location  ... gdp_per_capita           gdp
0     63     Ethiopia  ...       1729.927  1.988786e+11
1     15   Bangladesh  ...       3523.984  5.803628e+11
2    145     Pakistan  ...       5034.708  1.112128e+12
3    141      Nigeria  ...       5338.454  1.100467e+12
4     90        India  ...       6426.674  8.868838e+12
5    151  Philippines  ...       7599.188  8.327273e+11
6     58        Egypt  ...      10550.206  1.079649e+12
7     91    Indonesia  ...      11188.744  3.060386e+12
8     27       Brazil  ...      14103.452  2.997821e+12
9     41        China  ...      15308.712  2.203419e+13

[10 rows x 8 columns]

In [32]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [35]:
country_counts_df = countries_df.groupby("continent")["location"].count()

In [36]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [37]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [38]:
continent_populations_df = countries_df.groupby("continent")["population"].sum()

In [39]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [40]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [41]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7fc25eb216d0>)

In [42]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [43]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [51]:
total_tests_missing = covid_data_df[covid_data_df["total_tests"].isna()]["location"].count()

In [52]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [53]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [54]:
combined_df = countries_df.merge(covid_data_df, on="location")

In [55]:
combined_df

           location continent  ...  total_deaths  total_tests
0       Afghanistan      Asia  ...        1409.0          NaN
1           Albania    Europe  ...         296.0          NaN
2           Algeria    Africa  ...        1525.0          NaN
3           Andorra    Europe  ...          53.0          NaN
4            Angola    Africa  ...         109.0          NaN
..              ...       ...  ...           ...          ...
205         Vietnam      Asia  ...          35.0     261004.0
206  Western Sahara    Africa  ...           1.0          NaN
207           Yemen      Asia  ...         571.0          NaN
208          Zambia    Africa  ...         292.0          NaN
209        Zimbabwe    Africa  ...         206.0      97272.0

[210 rows x 10 columns]

In [56]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [57]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [58]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [59]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [60]:
combined_df

           location continent  ...  cases_per_million  deaths_per_million
0       Afghanistan      Asia  ...         982.394806           36.194710
1           Albania    Europe  ...        3380.359997          102.856349
2           Algeria    Africa  ...        1029.804468           34.776824
3           Andorra    Europe  ...       15518.022390          685.950948
4            Angola    Africa  ...          83.033462            3.316470
..              ...       ...  ...                ...                 ...
205         Vietnam      Asia  ...          10.745996            0.359570
206  Western Sahara    Africa  ...        1282.373228            1.674116
207           Yemen      Asia  ...          66.250993           19.144391
208          Zambia    Africa  ...         675.317108           15.883415
209        Zimbabwe    Africa  ...         446.614587           13.859989

[210 rows x 13 columns]

In [61]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [80]:
highest_tests_df = combined_df.sort_values("tests_per_million",ascending=False).head(10).reset_index()

In [81]:
highest_tests_df

   index              location  ... cases_per_million  deaths_per_million
0    197  United Arab Emirates  ...       7233.276713           39.128852
1     14               Bahrain  ...      30818.361490          111.660730
2    115            Luxembourg  ...      12665.022301          198.090662
3    122                 Malta  ...       4373.339614           29.442473
4     53               Denmark  ...       2968.645954          108.076323
5     96                Israel  ...      14157.289533          111.951408
6     89               Iceland  ...       6215.384615           29.304029
7    157                Russia  ...       6886.653091          119.327539
8    199         United States  ...      18472.377957          561.155633
9     10             Australia  ...       1016.592979           26.000121

[10 rows x 14 columns]

In [82]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [77]:
highest_cases_df = combined_df.sort_values("cases_per_million",ascending=False).head(10).reset_index()

In [78]:
highest_cases_df

   index       location  ... cases_per_million  deaths_per_million
0    155          Qatar  ...      41375.743650           69.071800
1     14        Bahrain  ...      30818.361490          111.660730
2    147         Panama  ...      21805.112117          470.477208
3     40          Chile  ...      21695.671982          593.423100
4    162     San Marino  ...      21657.139490         1237.550828
5      9          Aruba  ...      20708.839893          112.395332
6    105         Kuwait  ...      20249.789079          125.276222
7    150           Peru  ...      20121.318048          887.393445
8     27         Brazil  ...      18808.224105          582.331314
9    199  United States  ...      18472.377957          561.155633

[10 rows x 14 columns]

In [79]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [74]:
highest_deaths_df = combined_df.sort_values("deaths_per_million",ascending=False).head(10).reset_index()

In [75]:
highest_deaths_df

   index        location  ... cases_per_million  deaths_per_million
0    162      San Marino  ...      21657.139490         1237.550828
1    150            Peru  ...      20121.318048          887.393445
2     18         Belgium  ...       7404.645676          854.040375
3      3         Andorra  ...      15518.022390          685.950948
4    177           Spain  ...      10256.790198          624.406705
5    198  United Kingdom  ...       4988.892850          611.525168
6     40           Chile  ...      21695.671982          593.423100
7     97           Italy  ...       4490.684602          587.097697
8     27          Brazil  ...      18808.224105          582.331314
9    182          Sweden  ...       8370.109919          576.279276

[10 rows x 14 columns]

In [76]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [116]:
highest_test_and_cases = highest_cases_df["location"].isin(highest_tests_df["location"]).sum()
print(f"Total number of Contries having both highest number of cases and covid tests are: {highest_test_and_cases}")

Total number of Contries having both highest number of cases and covid tests are: 2

In [117]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [118]:
lowest_gdp_df =  countries_df[countries_df["population"] > 10000000].sort_values("gdp_per_capita").head(20).reset_index()
lowest_gdp_df

    index                      location  ... gdp_per_capita           gdp
0      32                       Burundi  ...        702.225  8.350004e+09
1      52  Democratic Republic of Congo  ...        808.133  7.237753e+10
2     140                         Niger  ...        926.000  2.241534e+10
3     118                        Malawi  ...       1095.042  2.094810e+10
4     132                    Mozambique  ...       1136.103  3.550939e+10
5     117                    Madagascar  ...       1416.440  3.922267e+10
6     207                         Yemen  ...       1479.147  4.411699e+10
7     176                   South Sudan  ...       1569.888  1.757290e+10
8      85                         Haiti  ...       1653.173  1.885036e+10
9     195                        Uganda  ...       1697.707  7.765482e+10
10     31                  Burkina Faso  ...       1703.102  3.560041e+10
11     63                      Ethiopia  ...       1729.927  1.988786e+11
12     39                          Chad  ...       1768.153  2.904343e+10
13      0                   Afghanistan  ...       1803.987  7.022622e+10
14    158                        Rwanda  ...       1854.211  2.401613e+10
15    209                      Zimbabwe  ...       1899.775  2.823622e+10
16     82                        Guinea  ...       1998.926  2.625148e+10
17    121                          Mali  ...       2014.306  4.079138e+10
18     20                         Benin  ...       2064.236  2.502514e+10
19    135                         Nepal  ...       2442.804  7.117551e+10

[20 rows x 8 columns]

In [119]:
lowest_hospital_df =  countries_df[countries_df["population"] > 10000000].sort_values("hospital_beds_per_thousand").head(20).reset_index()
lowest_hospital_df

    index      location  ... gdp_per_capita           gdp
0     121          Mali  ...       2014.306  4.079138e+10
1     117    Madagascar  ...       1416.440  3.922267e+10
2     140         Niger  ...        926.000  2.241534e+10
3     135         Nepal  ...       2442.804  7.117551e+10
4      82        Guinea  ...       1998.926  2.625148e+10
5      63      Ethiopia  ...       1729.927  1.988786e+11
6      31  Burkina Faso  ...       1703.102  3.560041e+10
7     195        Uganda  ...       1697.707  7.765482e+10
8       0   Afghanistan  ...       1803.987  7.022622e+10
9      20         Benin  ...       2064.236  2.502514e+10
10     90         India  ...       6426.674  8.868838e+12
11     80     Guatemala  ...       7423.808  1.330017e+11
12    145      Pakistan  ...       5034.708  1.112128e+12
13     85         Haiti  ...       1653.173  1.885036e+10
14    207         Yemen  ...       1479.147  4.411699e+10
15    187      Tanzania  ...       2683.304  1.602851e+11
16    132    Mozambique  ...       1136.103  3.550939e+10
17     32       Burundi  ...        702.225  8.350004e+09
18     33      Cambodia  ...       3645.070  6.094182e+10
19    204     Venezuela  ...      16745.022  4.761605e+11

[20 rows x 8 columns]

In [120]:
# set(lowest_gdp_df['location']).intersection(set(lowest_hospital_df['location']))
total_countries_having_low_gdp_and_bed = lowest_gdp_df['location'].isin(lowest_hospital_df['location']).sum()
print(f"Countries having lowest gdp per capita and lowest hosiptal bed are: {total_countries_having_low_gdp_and_bed}")

Countries having lowest gdp per capita and lowest hosiptal bed are: 14

In [121]:
import jovian

In [122]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment

'https://jovian.ai/elysian01/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2

In [123]:
jovian.submit(assignment="zero-to-pandas-a3")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/elysian01/pandas-practice-assignment
[jovian] Submitting assignment..
[jovian] Verify your submission at https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice