In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%config Completer.use_jedi = False

ImportError: cannot import name 'distance' from 'scipy.spatial' (unknown location)

In [2]:
df = pd.read_csv("./datasets/student-grade.csv")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [4]:
df.select_dtypes(include = "O").columns

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')

In [5]:
len(df.select_dtypes(include = "O").columns)

17

In [6]:
df.shape

(395, 33)

## Correlation Analysis

In [7]:
df1 = df[["studytime","G1"]]
df1.head()

   studytime  G1
0          2   5
1          2   5
2          2   7
3          3  15
4          2   6

In [44]:
def pearson_product_corr(col1_name,col2_name,max_length):

    col1 = np.array(df1[col1_name][:max_length])
    col2 = np.array(df1[col2_name][:max_length])

    col1_mean = col1.mean()
    col2_mean = col2.mean()

    col1_std = np.sqrt(np.sum((col1-col1_mean)**2)/max_length)
    col2_std = np.sqrt(np.sum((col2-col2_mean)**2)/max_length)

    print(col1_name + " MEAN: " + str(col1_mean) + "\n" + col2_name + " MEAN: " + str(col2_mean))
    print("\n" + col1_name + " STANDARD DEVIATION: " + str(col2_std) + "\n" + col2_name + " STANDARD DEVIATION: " + str(col2_std))
    
    corr = np.sum(np.multiply((col1- col1_mean),(col2- col2_mean)))/(col1_std * col2_std * max_length)
    print("\n" + "Correlation between " + col1_name + " and " + col2_name + " is " + str(round(corr,3)))
    
pearson_product_corr("studytime","G1",10)

studytime MEAN: 2.1
G1 MEAN: 10.1

studytime STANDARD DEVIATION: 4.437341546466758
G1 STANDARD DEVIATION: 4.437341546466758

Correlation between studytime and G1 is 0.368

In [40]:
round(0.36808826100706143,3)

0.368